html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(220, 220, 212);
}
.navbar {
    font-family: "ALS Sector", Arial, Helvetica, sans-serif;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    height: 150px;
}
.navbar .logo {
    flex: 1;
    text-align: center;
}
.navbar .logo img {
    max-height: 100%;
}
.navbar .logo a:hover {
    filter: brightness(0.9);
}
.navbar .menu {
    flex: 2;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar .menu li {
    margin: 80px;
    align-items: space-between;
}
.navbar .menu li a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
}
.navbar .menu li a:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}
.navbar .menu li img {
    max-height: 150px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1920px; /* Ограничиваем ширину контейнера */
    margin: 0 auto;
    padding: 0px;
}
div {
    max-width: 1920px;
    margin: 0 auto;
    font-size: 35px;
    text-align: justify;
    font-family: "ALS Sector", Arial, Helvetica, sans-serif;
    padding: 20px;
}
address {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    max-width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
address a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 30px;
    font-family: "ALS Sector", Arial, Helvetica, sans-serif;
}
address a:hover {
    text-decoration: underline;
}
.mbottom {
    margin-bottom: 20px;
}
.imgblock1 {
    width: 40%;
    margin: 1%;
    height: 600px;
    display: flex;
    padding: 0px;
    align-items: flex-start;
    background-image: url('bg-images/CNB1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.imgblock2 {
    width: 40%;
    margin: 1%;
    height: 600px;
    display: flex;
    padding: 0px;
    align-items: flex-start;
    background-image: url('bg-images/meteorlab.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.textblock {
    width: 50%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    box-sizing: content-box;
    background-color: white;
    border-radius: 10px;
    word-break: break-word;
    text-align: justify;
    font-size: 28px;
}
.textblock h2 {
    text-align: center;
    margin-bottom: 0px;
}

.center {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

address {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    max-width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
address a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 30px;
    font-family: "ALS Sector", Arial, Helvetica, sans-serif;
}
address a:hover {
    text-decoration: underline;
}